body {
  font-family: "Monteserrat", sans-serif;
}
nav {
  margin: 10px;
}

.nav-container {
  display: flex;
  margin: 20px;
}
.logo {
  flex: 1;
}
.nav-list {
  display: flex;
  list-style: none;
  margin: 10px;
  flex: 2;
  justify-content: flex-end;
}
.nav-list a {
  color: black;
  text-decoration: none;
}
.nav-links {
  margin: 0 10px;
  flex-direction: row;
}

.container {
  margin: 10px 10%;
}
.hero1 {
  border-radius: 5px;
  top: 80px;
  position: absolute;
  z-index: -1;
}
.hero2 {
  border-radius: 5px;
  top: 80%;
  position: absolute;
  left: 50%;
  z-index: -1;
}
.part {
  display: flex;
  flex-direction: column;
}

.buy-btn {
  margin: 10px;
  border: none;
  color: white;
  background-color: rgb(252, 79, 79);
  padding: 5px 10px;
  border-radius: 5px;
}
